<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

		<!-- Bootstrap core CSS --><!-- 
		needed paths: CSS, JS, SCSS, BOOTSTRAP -->
    <link rel="stylesheet" href="BOOTSTRAP PATH">
    <link href="SCSS PATH" rel="stylesheet">
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <!-- Script tags go here! --> 

  </body>
</html>